<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= tittle %></title>
    <% include partials/head.html %>
  </head>
  <body>
    <% include partials/navigation.html %>

    <h1><%= tittle %></h1>
  </body>
</html>
